# Ignore files
*.exe
*.xml
*.txt
*.log
.obsidian/workspace.json

# Ignore folders
.ssh
logs
Drivers
Cursors
Fonts
Setup/Software/*
Start Menu

# App
my-electron-app
node_modules
win-unpacked